
node_modules/
dist/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db


.angular/
*.log
*.tmp
*.lock
*.bak
*.swp
src/environments/environment.ts
src/environments/environment.prod.ts


bin/
obj/
.vs/
*.user
*.suo
*.dll
*.pdb
*.exe
*.cache
appsettings.json
appsettings.Development.json
appsettings.Production.json
secrets.json
Migrations/
logs/
